@model Rent_Management_System.Models.PropertyModels.PropertyIndexModel

@{
    ViewData["Title"] = Model.Address;
}

<div class="mb-3">
    <h2>@Model.Address</h2>
</div>
<div class="mb-3 property-info">
    <div>Area: <b>@Model.Area &#13217;</b></div>
    <div>Rooms: <b>@Model.Rooms</b></div>
    <div>Beds: <b>@Model.Beds</b></div>
    <div>Monthy Rent: <b>€@Model.Rent</b></div>
</div>
<div class="mb-4">
    <a asp-controller="Property" asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-success btn-sm">Edit Property</a>
</div>
<h4 class="home-payments-title mb-2">Tenants</h4>
<div class="row">
    <table class="table col-8">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col">Date Of Moving In</th>
                <th scope="col">Debt</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var tenant in Model.Tenants)
            {
                <tr>
                    <td><a asp-controller="Tenants" asp-action="Index" asp-route-id="@tenant.Id" class="tenant-name">@tenant.FullName</a></td>
                    <td>@tenant.Email</td>
                    <td>@tenant.DateOfMovingIn</td>
                    <td><b>€@tenant.Debt</b></td>
                </tr>
            }
        </tbody>
    </table>
</div>